<router-outlet></router-outlet>
<mat-toolbar color="primary">
  <span routerLink='/'>Private Corona Vaccination System</span>
  <span class="example-spacer"></span>
  <button mat-flat-button class="patient-buttons" routerLink='/'>Logout</button>
</mat-toolbar>

<mat-card>

<!--
  <mat-card-content class="px-lg-5 pt-0" >


    <form class="text-center" style="color: #757575; display: inline;" name="userValid">

      <div class="form-row">
        <div class="col">

          <div class="md-form">
            <input type="text" id="materialRegisterFormFirstName" class="form-control" placeholder="Userame" mdbInput>
            <label for="materialRegisterFormFirstName" class="registration-label"></label>
          </div>
        </div>
      </div>


      <div class="md-form">
        <input type="password" id="materialRegisterFormPassword" class="form-control" aria-describedby="materialRegisterFormPasswordHelpBlock"
          mdbInpu placeholder="Password">
        <label for="materialRegisterFormPassword" class="registration-label" ></label>
        <small id="materialRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
          At least 8 characters and 1 digit
        </small>
      </div>


      <button mat-flat-button class="confirm-btn" type="submit">Confirm</button>


    </form>


  </mat-card-content> -->

  <mat-card-content class="px-lg-5 pt-0">
    <h1 style="text-align: center;">Select your vaccination batch</h1>
    <table class = "table vacTable">
      <thead>
        <tr>
          <th scope="col">Batch Number</th>
          <th scope="col">Expiry Date</th>
          <th scope="col">Qty Available</th>
          <th scope="col">Qty Administered</th>
          <th scope="col">Vaccine Name</th>
          <th>Selection</th>
        </tr>
      </thead>
      <tr *ngFor="let item of batches" >
        <th>{{item.batchNo}}</th>
        <th>{{item.expiryDate}}</th>
        <th>{{item.quantityAvailable}}</th>
        <th>{{item.quantityAdministered}}</th>
        <th>{{item.vaccine.vaccineName}}</th>
        <th><input type="radio" name="batchSelection" value="{{item.batchNo}}"></th>
      </tr>
    </table>
  </mat-card-content>
</mat-card>

